<!DOCTYPE html>
<html>
  <head>
    <title>Artnell Ebanks</title>
    <link href = "profile.css" type = "text/css" rel = "stylesheet"/>
  </head>
  <body  background = "http://th07.deviantart.net/fs70/PRE/f/2011/064/5/2/hungarian_skies_pt_lxxxii__by_realitydream-d3aykwm.jpg">
    <div > 
      <img src = "https://pbs.twimg.com/profile_images/1944472083/Yahawashi.jpg" alt="Smiley face" height="242" width="242"/>
    </div>
    <div  id="background"><p> Artnell Ebanks</p></div>
    <div  id="background">
        <p> Today is: {{time}}</p>
        <p> Username: Yahsharahla</p>
        <p>Sex: Male</p>
        <p>Age: 10 </p>
        <p>Highest Score: 120</p>
        <p> TDollars: 200</p>
    </div>
  </body>
</html>
